<div class = "end_user_introduction w-100 bg-light">
  <div class = "d-inline-block">
    <%= image_tag @end_user.get_end_user_image, :width => '100', :height => '100' %>
  </div>
  <div class = "d-inline-block">
    <%= @end_user.name %><br>
    <%= @end_user.introduction %>
  </div>
</div>
<%= render "posts_index", posts:@posts %>