<div style = "height:95vh;",  id = "comment-full w-100">
<% if @group.end_users.include?(current_end_user) %>
  <div class = "w-100 h-75 border overflow-auto", id = "group_comment_container">
    <%= render @group_comments %>
  </div>
  <% if @group.watching? %>
    <div id = "comment_form">
      <%= render partial: "group_comment_form", locals: { group: @group, group_comment: @group_comment } %>
    </div>
    <h3>視聴中</h3>
  <% elsif @group.waiting? %>
    <h3>
      <%= @group.start_time.strftime('%Y/%m/%d %H:%M') %>から視聴開始
    </h3>
  <% elsif @group.closed? %>
    <h3>同時視聴は終了しました</h3>
  <% end %>
<% else %>
  <h3>同時視聴のコメントを観覧、投稿したい場合は、グループに参加してください</h3>
<% end %>
</div>