<h1>Watching Part!</h1>
<h3 class ="mt-5">
  ・同時視聴をみんなで楽しもう!<br>
  グループのコメント機能で、リアルタイムで感想を共有
</h3>
<h3 class ="mt-5">
  ・自分のグループを作って、メンバーを募ろう<br>
  自分が見たい作品でグループを作り、投稿でメンバーを募ることも
</h3>
<h3 class ="mt-5">
  ・投稿で感想を共有しょう<br>
  視聴がおわったら、投稿で感想を共有してみよう
</h3>
