@import '~bootstrap/scss/bootstrap';






body {
  font-weight:bold;
}

h1 {
  font-family: monospace;
  font-weight:bold;
}

h2 {
  font-family: monospace;
  font-weight:bold;
}

h3 {
  font-family: monospace;
  font-weight:bold;
}

h4 {
  font-family: monospace;
  font-weight:bold;
}