@import '~bootstrap/scss/bootstrap';






body {
  font-weight:bold;
}

h1 {
  font-family: monospace;
  font-weight:bold;
}

h2 {
  font-family: monospace;
  font-weight:bold;
}

h3 {
  font-family: monospace;
  font-weight:bold;
}

h4 {
  font-family: monospace;
  font-weight:bold;
}



.img-50-50-contain{
width: 50px;
height: 50px;
object-fit: contain;
}

.img-100-100-cover{
width: 100px;
height: 100px;
object-fit: cover;
}

.img-200-200-contain{
width: 200px;
height: 200px;
object-fit: contain;
}



#group_comment_container{
  background-color: #fffcf5;
  border-radius: 15px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
}